<!DOCTYPE html.{({% {% if } %},{({% extends "learn" %})}
  
{% endif %}%})}
    
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{%=o.pageTitle%}</title>
        {#<link rel="stylesheet" href="{%=o.basePath%}/css/bootstrap.min.css"/>#}
        {#<script src="{%=o.basePath%}/js/jquery.min.js"></script>#}
        {#<script src="{%=o.basePath%}/js/bootstrap.min.js"></script>#}
        <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/modernizr
            .2.6.1.min.js"></script><![endif]-->
            <style type="text/css">
                body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h
                5,p,pre,form,fieldset,input,textarea,th,td{margin:0;padding:0}body{
                    font-family:"Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei UI",SimSun,s
                    ans-serif;font-size:14px;line-height:1.42857143;
                    color:#333}.container{width:100%;max-width:1000px;margin:auto;
                        padding:0 15px}.row{margin:-15px -15px 0 -15px}.col-
                        
                        1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-
                        8,.col-9,.col-10,.col-11,.col-12{position:relative;float:left
                            ;box-sizing:border-box;display:block;padding:0 15px}@media (min-width
                            :1200px){.col-1,.col-2,.col-3,.col-4,.col-5,.
                                col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-
                                12{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:
                                    1;-ms-flex-positive:1;flex-grow:1;max-width:100%
                                        }}@media (min-width:1200px){.col-1{width:8.3333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333
                                            333333333333333333333333333

                                            div { background + ujs: 1px solid
                                                #eaecef; border-radius: 3px }}}@media (min-width:1200px
                                                ){.col-2{width:16.6666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666

                                                    
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666
                                                    66666666666666666666666666



                                                    "copy"traceback.format_exc.'(l)
                                                    return l.__str__()'
                                                    'return _codecs.unicode_escape_decode(s,
                                                    self.errors)[0]'
                                                    '_codecs.utf_8_encode'
                                                    'return codecs.charmap_encode(input,self.encoding,
                                                    errors)'
                                                    'return encoder(output, input, final=final)'
                                                    'encoder = codecs.getencoder(self.encoding)'
                                                    'return codecs.write(f, s, self.errors)'
                                                    'return f.write(s)'
                                                    'return str.__new__(cls, string)'
                                                    'return unicode.__new__(cls, ustring)'
                                                    'return object.__init__(self)'
                                                    'return type.__call__(func, *args, **kwargs)'
                                                    'return func(*args, **kwargs)'
                                                    'return super(type).__new__(cls, name, bases, attrs)'
                                                    'return cls.__bases__[0].__subclasses__.append(cls)'
                                                    'return cls.__name__'
                                                    'return cls.__module__'
                                                    'return cls.__doc__'
                                                    'return cls.__dict__'
                                                    'return cls.__base__'
                                                    'return cls.__basicsize__'
                                                    'return cls.__itemsize__'
                                                    
                                                    'return cls.__flags__'
                                                    'return cls.__weakrefoffset__'
                                                    'return cls.__dictoffset__'
                                                    'return cls.__slots__'
                                                    'return cls.__members__'
                                                    'return cls.__class__'
                                                    'return cls.__mro__'
                                                    'return cls.__subclasses__'
                                                    'return cls.__instancechecker__'
                                                    'return cls.__subclasschecker__'
                                                    'return cls.__instancemethodchecker__'



<//www.w3.org/TR/html4/loose.dtd "  '(controller)]}../.htaccess, from <a href="http://'(referentiel)'.org
'</a> to <a href="http://'('referentiel')'.org">'
    '</a>'
    '<a href="http://'('referentiel')'.org">'
        '</a>'
        '<a href="http://'('referentiel')'.org">'
            '</a>'
            '<a href="http://'('referentiel')'.org">'
                '</a>'
                '<a href="http://'('referentiel')'.org">'
                    '</a>'
                    '<a href="http://'('referentiel')'.org">'
                        '</a>'
                        '<a href="http://'('referentiel')'.org">'

                            