<!DOCTYPE html..;/:\;.. language.-._complet_.{% trans "late" %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{{ page_name }}{% endblock %}</title>
        {% include 'partials/_styles.html' %}
        {% include 'partials/_scripts.html' %}
        </head>
        <body class="{% if is_homepage or is_search %}homepage{% else %}not-homepage{% endif %}">
            <!--[if lte IE 9]><div id="browserupgrade"><a href="#">You are using an outdated browser.</
                a></div><![endif]-->
                <header role="banner">
                    <nav role="navigation">
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/portfolio">Portfolio</a></li>
                            <li><a href="/resume">Resume</a></li>
                            </ul>
                            </nav>
                            <h1>{{ site_name }}</h1>
                            </header>
                            <main role="main">
                                {{ content }}
                                </main>
                                <footer role="contentinfo">
                                    <p>&copy; {{ date("Y") }} &mdash; {{ site_name }}</p>
                                    </footer>
                                    ://html./:/.asset_<server'constructor(height '{% extends "<strong>", <button>
                                        .asset_<server'constructor(height = 100px; background-color: #f5f5f5; border:
                                        2px solid #ccc; padding: 3px; margin: 6px 0px 8px 0px;}</style
                                        >.asset_<server'constructor(height = 100px; background-color: #f5f5f5;
                                        border: 2px solid #ccc; padding: 3px; margin: 6px 0px 8px 0px
                                        }">
                                            <div>
                                                        <envy.html./:/button 'color' {{ {% url "size" pk=object.pk %} }}
                                                        </div>
                                                        </a></p><h4 class="text-center"><span style="font-weight: bold;">{{ object.name }}</span
                                                            ></h4>
                                                            </td>
                                                            </tr>
                                                            </tbody>
                                                            </table>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            "./.:.\. ; empty
                                                            ./.././../.././.././.././.././.././.././.././../.
                                                            /.././.././.././.././.././.././.././.././.././
                                                            .././.././.././.././.././.././.././.././.././
                                                            ../.././.././.././.././.././.././.././.././..
                                                            /../../.././.././.././.././.././.././.././..
                        .//.././.././.././.././.././.././.././.././
                        //.../.././.././.././.././.././.././.././..
                        ///..../.././.././.././.././.././.././.././..
                        /////.../.././.././.././.././.././.././.././..
                        //////.././.././.././.././.././.././.././.././
                        ///////.././.././.././.././.././.././.././.././
                        //////////.././.././.././.././.././.././.././.././
                        ///////////.././.././.././.././.././.././.././.././
                        //////////////////.././.././.././.././.././.././.././.././
                        ///////////////////.././.././.././.././.././.././.././.././..
                        /////////////////////.././.././.././.././.././.././.././.././..
                        //////////////////////.././.././.././.././.././.././.././.././
                        ///////////////////////.././.././.././.././.././.././.././.././
                        //////////////////////////.././.././.././.././.././.././.././.././
                        ///////////////////////////.././.././.././.././.././.././.././.././
                        /////////////////////////////.././.././.././.././.././.././.././.././
                        //////////////////////////////.././.././.././.././.././.././.././.././
                        ///////////////////////////////.././.././.././.././.././.././.././../.


                                    </body>

                                    </html>
                                    ";
                                    } else {
                                        echo "<h1 style='color:red;'>Error!</h1>";
                                        echo '<p>You are not allowed to access this page.</p>';
                                        
                                        }
                                        ?>.delay,-dix,(partials/_styles.html) ",red"{color:green} :\.indexOf://console.log
                                        ?>

                                        "discount_play.{% static "stringformat.ex" %}
                                        <script type="text/javascript">
                                            function stringFormat(str, obj) {
                                                return str.replace(/{([^}]+)}/g, function (match, key) {
                                                    var value = obj[key];
                                                    if (!value && value !== 0) {
                                                        throw new Error("Key '" + match + "' has no value");
                                                        }
                                                        return value;
                                                        });
                                                        };
                                                        $(document).ready(function () {
                                                            $('#myform').submit(function (e) {
                                                                e.preventDefault();
                                                                $.ajax({
                                                                    url: '/api/v1/user',
                                                                    dataType: 'json',
                                                                    contentType: 'application/json',
                                                                    
                                                                    method: 'POST',
                                                                    data: JSON.stringify($('#myform').serializeObject()),
                                                                    success: function (data) {
                                                                        alert('success');
                                                                        },
                                                                        error: function (xhr, status, err) {
                                                                            console.log(err);
                                                                            alert('error');
                                                                            }
                                                                            })
                                                                            .done(function (data) {
                                                                                $('.result').html(JSON.stringify(data));
                                                                                $("#result").html("<pre>" + JSON.stringify(data, null, 2) + "</pre>")
                                                                                $("#result").append("<div class=\"alert alert-info\"><strong>" + data.name + "</strong>: "
                                                                                    $('#result').html(JSON.stringify(data));
                                                                                    $("#result").html(stringFormat("<div class=\"alert alert-info\"><strong>{name}</strong>, your disc
                                                                                        //console.log(data);
                                                                                        $("#result").html(data);
                                                                                        $("#result").val(JSON.stringify(data));
                                                                                        $("#result").html(stringFormat($("#template").val(), data));
                                                                                        window.location.href = "/";
                                                                                        $("#result").html(stringFormat("<div class=\"alert alert-info\"><strong>{name}</strong>: {
                                                                                            $("#result").html(JSON.stringify(data));
                                                                                            //alert('success');
                                                                                            window.location.href="/";
                                                                                            window.location.href='/';
                                                                                            $("#result").html(data);
                                                                                            $('.modal-body').empty().append("<h3>Successfully Registered</h3><p>" + data
                                                                                                $("#result").html(stringFormat("<p>{{name}}</p>", data));
                                                                                                $("#result").html("<div class='alert alert-info'>"+stringFormat($
                                                                                                    $('.modal-body #id').val(data.id);
                                                                                                    })
                                                                                                    .fail(function (jqXHR, textStatus, errorThrown) {
                                                                                                        .fail(function (err) {
                                                                                                            .fail(function (err) {
                                                                                                                .fail(function (jqXHR, textStatus, errorThrown) {
                                                                                                                    .fail(function (err) {
                                                                                                                        .fail(function (jqXHR, textStatus, errorThrown) {
                                                                                                                            .fail(function (err) {
                                                                                                                                .fail(function (jqXHR, textStatus, errorThrown) {

                                                                                                                                    